@model Snyggerik.Models.SuperBlog

@{
    ViewBag.Title = "Show";
}
<div class="container body-content">


    <div>

        <div class="col-xs-10">

            <table class="table">
                @foreach (var item in Model.Blog.Posts)
                {
                    // Post title
                <tr>
                    <td>
                        <label>@Html.DisplayFor(modelItem => item.PostTitle) <br /> Created   @Html.DisplayFor(modelItem => item.PostCreated)</label> <br /> (@Html.DisplayFor(modelItem => item.Views) views)
                    </td>
                </tr>
                <tr>
                    @*// Post body*@
                    @{ string prev = item.PostBody;
                    if (prev.Length > 300)
                    {
                        prev = prev.Substring(0, 300);
                    }
                    }
                    <td>@prev @Html.ActionLink("Read entire post", "Show", "Posts", new { id = item.IdPost }, null)</td>

                </tr>
                    //Comment body
                    foreach (var comment in item.Comments)
                    {
                        <tr>
                            @if (User.Identity.Name == comment.User.UserName)
                            {
                                <td class="comment">
                                    @comment.CommentBody  [posted @comment.CommentCreated by @comment.User.UserName]
                                    @Html.ActionLink("   Remove", "Delete", "Comments", new { id = comment.CommentId }, null) 
                                                                       
                                </td>
                            }
                            else
                            {
                            <td class="comment">@comment.CommentBody  [posted @comment.CommentCreated by @comment.User.UserName]</td>
                            }
                        </tr>

                    }
                <tr></tr>
                <tr>
                    <td>
                        @* Add Comment *@
                        @if (User.Identity.IsAuthenticated == true)
                                    {
                                    <button class="btn btn-primary" type="button" onclick="ShowForm(@item.IdPost)">Add a comment</button>

                                    }


                        <div id="@item.IdPost" hidden>
                            @using (Html.BeginForm("AddComment", "Comments", FormMethod.Post))
                                        {
                                        <input type="hidden" id="id" name="id" value="@item.IdPost" />
                                        <textarea class="comment" cols="20" id="body" name="body" rows="2"></textarea>
                                        <br />

                                        <button class="btn btn-success" type="submit">Save comment</button>

                                        }
                        </div>
                    </td>
                </tr>


                            }
            </table>

        </div>
        <div class="col-xs-2, side" >
            <h2>@Model.Blog.BlogTitle</h2>
            <h4>@Model.Blog.BlogBody</h4>            
            <h5>@Model.Blog.User.FirstName  @Model.Blog.User.LastName</h5>
            @Html.ActionLink("Show all", "Show", "Blogs", null, null, null, new { year = 0, month = 0, blogId = Model.Blog.BlogId },null)
            <br />
            @foreach(var l in Model.timelist)
            {
              
                @Html.ActionLink(@l.title, "Show","Blogs",null,null,null, new { year = l.year, month = l.month, blogId=Model.Blog.BlogId },null )
                <br />
            }

        </div>
    </div>





</div>
<script>
    function ShowForm(id) {
        document.getElementById(id).hidden = !document.getElementById(id).hidden;
    }
</script>
